.form {
    text-align: center;

    &-item {
        color: $color-ac;
        margin-bottom: 20px;

        input,textarea {
            color: $color-txt;
        }
    }

    &-btn {
        @include _btn() {
            width: 100%;
        }
    }

    &-txt {
        margin-top: 30px;
        font-size: 13px;
        text-align: left;
        font-weight: normal;
        color: $color-dark;
    }
}