.tel {
    text-align: center;

    &-link {
        @include mq('md') {
            font-size: 20px;
        }
        @include mq('pc') {
            font-size: 24px;            
        }

        a {
            letter-spacing: .2em;

            i {
                display: inline-block;
                margin-right: .5em;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}