.kushi {
    $this: &;
    overflow: hidden;

    > .inner {
        @include mq('md') {
            max-width: 630px;
            padding: 0;
        }
    }

    .sec-tit {
        text-shadow: $ts-white;
        z-index: map-get($layer, 'default');
        @include mq('md') {
            font-size: 45px;       
        }
        @include mq('pc') {
            font-size: 80px;   
            align-self: center;
        }
    }
    
    &-wrap {
        @include mq('md') {
            margin: 20px 15px 0;
        }
    }

    .sub-tit {
        font-family: $ff-tit-h;
        @include mq('pc') {
            font-size: 40px;          
        }
    }

    &-txt {
        @include mq('md') {
            margin-top: 10px;
        }
    }

    &-item {
        display: grid;

        // 1段目（赤城鳥）
        &:nth-of-type(1) {
            grid-template-rows: auto 1fr;
            z-index: map-get($layer, 'default');
            position: relative;
            @include mq('md') {
                grid-template-columns: 70% 30%;
            }
            @include mq('pc') {
                grid-template-columns: 75% 1fr;
                margin-right: 0;
            }

            &:before {
                position: absolute;
                left: 10%;
                content: '';
                background: url(../img/circle0.png) center / contain no-repeat;
                transform: scale(-1, 1);
                z-index: map-get($layer, 'bg');
                @include mq('md') {
                    bottom: 10%;
                    width: 200px;
                    height: 200px;    
                }
                @include mq('pc') {
                    bottom: 10px;
                    width: 400px;
                    height: 400px;
                }
            }

            >.sec-tit {
                grid-area: 1 / 2 / 2 / 3; 
                justify-self: center;
                font-family: $ff-tit-v;
                writing-mode: vertical-rl;
                border-left: 1px solid $color-dark;
                border-right: 1px solid $color-dark;
                @include mq('md') {
                    align-self: center;
                    margin-left: -20%;
                }
            }

            #{$this}-img {
                @include _ratio(71.33%);
                @include mq('md') {
                    grid-area: 1 / 1 / 2 / 3;
                    width: 80%;
                }
                @include mq('pc') {
                    grid-area: 1 / 1 / 2 / 2;
                }
            }

            #{$this}-wrap {
                grid-area: 2 / 1 / 3 / 3;
                @include mq('pc') {
                    margin: 20px 0 0 100px;
                    display: flex;
                    align-items: center;

                    >.sub-tit {
                        text-align: center;
                    }
                }

                >.sub-tit {
                    @include mq('pc') {
                        flex: 0 0 480px;
                    }
                }

                #{$this}-txt {
                    @include mq('pc') {
                        padding: 0 20px;            
                    }
                }
            }
        }

        // 2段目・5段目（画像フルサイズ）
        &:nth-of-type(2),
        &:nth-of-type(5) {
            position: relative;
            grid-template-columns: 30% auto 1fr;
            grid-template-rows: auto 1fr;
            @include mq('md') {
                grid-template-columns: 10% auto 1fr;    
            }
            @include mq('pc') {
                grid-template-columns: 30% auto 1fr;         
                overflow: hidden;
                padding: 30px 10px;
            }

            #{$this}-img {
                > img {
                    box-shadow: $bs-black;
                }

                @include mq('md') {
                    grid-area: 1 / 1 / 2 / 4;
                    margin: auto;

                    > img {
                        max-height: 240px;
                        object-fit: cover;
                    }
                }
                @include mq('pc') {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;            
                }
            }
            
            .sec-tit {
                grid-area: 1 / 2 / 2 / 3;
                font-family: $ff-tit-v;
                writing-mode: vertical-rl;
                line-height: 1.3;
                text-align: right;
                justify-self: center;
                color: $color-white;
                text-shadow: $ts-black;

                small {
                    font-weight: normal;
                    text-align: left;
                    padding: 0;
                }

                @include mq('md') {
                    font-size: 25px;
                    height: 220px;
                }
                @include mq('pc') {    
                    font-size: 50px;
                    height: 435px;
                    position: relative;

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: '';
                        background-color: $color-white;
                        width: 1px;
                        height: 70%;
                    }

                    small {
                        position: relative;

                        &::before {
                            position: absolute;
                            top: 0;
                            right: -8px;
                            content: '';
                            background-color: $color-white;
                            width: 1px;
                            height: 65%;
                        }    
                    }
                }
            }
  
            #{$this}-wrap {
                @include mq('md') {
                    grid-area: 2 / 1 / 3 / 4;
                }
                @include mq('pc') {
                    grid-area: 1 / 1 / 2 / 2;
                    writing-mode: vertical-rl;
                    position: relative;
                    padding: 0 10px;
                    color: $color-white;
                    text-shadow: $ts-black;
                    z-index: map-get($layer, 'default');

                    >.price {
                        writing-mode: lr-tb;
                        text-align: right;
                        margin-top: auto;
                        font-size: 15px;     
                    } 
                }
            }

            #{$this}-txt {
                @include mq('pc') {
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 300px;
                }
            }
        }

        // 2段目のみ（生つくね）
        &:nth-of-type(2) {
            @include mq('pc') {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 60%;
                    height: 100%;
                    background: linear-gradient(270deg, transparent 0%, $color-txt-tra-s 100%);
                } 
            }
        }

        // 3段目（野菜）
        &:nth-of-type(3) {
            @include mq('md') {
                grid-template-columns: 30% 70%;
                grid-template-rows: auto auto;
            }
            @include mq('pc') {
                grid-template-columns: 50% 1fr;
                grid-template-rows: 1fr auto;
                margin-left: 100px;            
            }

            #{$this}-img {
                @include mq('md') {
                    grid-area: 1 / 1 / 2 / 3;
                    width: 80%;
                    margin-left: auto;

                    > img {
                        max-height: 320px;
                        object-fit: contain;
                    }
                }
                @include mq('pc') {
                    grid-area: 1 / 2 / 3 / 3;
                    margin-left: 3%;
                 
                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            >.sec-tit {
                grid-area: 1 / 1 / 2 / 2;
                align-self: center;
                justify-self: center;
                color: $color-green;
                font-family: $ff-tit-v;
                writing-mode: vertical-rl;
                border-left: 1px solid $color-dark;
                border-right: 1px solid $color-dark;
                @include mq('md') {
                    margin-right: -20%;
                }
            }
        
            #{$this}-wrap {
                @include mq('md') {
                    grid-area: 2 / 1 / 3 / 3;
                }
                @include mq('pc') {
                    grid-area: 2 / 1 / 3 / 2;
                    align-self: center;
                    margin: $pd-md 0;

                    >.sub-tit {
                        text-align: center;
                    }                   
                }
            }

            #{$this}-txt {
                @include mq('pc') {
                    margin-top: $pd-md;
                    text-align: center;                   
                }
            }
        }

        // 4段目（巻物）
        &:nth-of-type(4) {
            @include mq('md') {
                display: block;
                text-align: center;
            }
            @include mq('pc') {
                grid-template-columns: 1fr 49%;
                grid-template-rows: 140px 1fr;
                grid-column-gap: 30px;
            }

            .sec-tit {
                border-top: 1px solid $color-dark;
                border-bottom: 1px solid $color-dark;
                font-family: $ff-tit-h;
                @include mq('md') {
                    display: inline-block;
                }
                @include mq('pc') {
                    grid-area: 1 / 2 / 2 / 3;
                    margin-right: $pd-md;
                    justify-self: flex-start;
                }
            }
        
            #{$this}-img {
                position: relative;
                @include mq('md') {
                    margin: 20px auto 0;
                    padding: 0 15px;
                }
                @include mq('pc') {
                    grid-area: 1 / 1 / 3 / 2;
                    margin-left: 50px;
                }

                > img {
                    position: relative;
                    z-index: map-get($layer, 'default');

                    @include mq('md') {
                        max-height: 240px;
                        object-fit: cover;
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    background: url(../img/pic1.png);

                    @include mq('md') {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 120%;
                        height: 70%;
                    }
                    @include mq('pc') {
                        top: -20px;
                        left: -35px;
                        width: 90%;
                        height: 70%;
                    }
                }
            }

            #{$this}-wrap {
                @include mq('pc') {
                    grid-area: 2 / 2 / 3 / 3;
                    align-self: center;
                    margin-right: 75px;

                    >.sub-tit {
                        letter-spacing: 0;
                    }   
                }
            }

            #{$this}-txt {
                @include mq('md') {
                    text-align: left;   
                }
                @include mq('pc') {
                    padding-top: 10px;
                }
            }
        }
    }
}