.sozai {
    @include mq('md') {
        margin-top: $pd-md;       
    }
    @include mq('pc') {
        margin-top: $pd-pc;
    }

    >.inner {
        padding: 0 0 0 15px;
    }

    &-top {
        display: flex;
        align-items: center;
        position: relative;
        z-index: map-get($layer, 'default');

        &:before {
            position: absolute;
            top: 50%;
            left: -10%;
            transform: translateY(-50%);
            content: '';
            background: url(../img/circle0.png) center / contain no-repeat;
            width: 50%;
            height: 120%;
            z-index: map-get($layer, 'bg');
        }

        >.sub-tit {
            font-family: $ff-tit-v;
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
            text-align: center;
            flex: 0 0 30%;
        }
    }

    &-img {
        flex-grow: 1;

        &._main {
            position: relative;
                padding-top: 52.7%;  
            @include mq('pc') {
                padding-top: 43.7%;
            }
        }

        &._sub {
            @include mq('pc') {
                background: url('../img/top/sozai_img_sub.jpg') center / cover;              
            }
        }
    }

    &-slide {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &._1 {
            background-image: url('../img/top/sozai_img_main.jpg');
        }
    
        @include mq('md') {
            opacity: 0;
            animation: fade 10s infinite;

            &._2 {
                background-image: url('../img/top/sozai_img_sub.jpg');
                animation-delay  : 5s;
            }            
        }
    }


    &-body {
        margin-right: 15px;
        @include mq('md') {
           margin-top: $pd-md / 2; 
        }
        @include mq('pc') {
            margin-top: 45px;
            display: flex;
            flex-direction: row-reverse;           
        }
    }

    &-wrap {
        @include mq('pc') {
            flex: 0 50%;
            margin: 30px 5% 10px;
            align-items: center;          
        }
    }

    &-txt {
        @include mq('md') {
            line-height: 1.8;           
        }
        @include mq('pc') {
            line-height: 2;        
        }
    }

    &-btn {
        margin-top: $pd-md;         
        text-align: center;
        @include _btn() {
            @include mq('md') {
                width: 400px;               
            }
            @include mq('pc') {
                width: 80%;               
            }
        }
    }
}